html {
    height: 100%;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
}

input {
}

textarea {
    width: 98%;
}

div {
    padding: 0;
    margin: 0;
    font-family: Arial;
}

#pipeline-templates {
    display: none;
}

#pipeline {
    float: left;
    padding: 0 20px;
    width: 400px;
    overflow: auto;
    height: 100%;
    position: fixed;
    background-color: white;
}

.popupfilter {
    z-index: 1000;
    display: none;
    position: fixed;
    background-color: #000033;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

.popup-header-text {
    font-weight: bold;
    font-size: small;
}

.popup {
    z-index: 1001;
    display: none;
    padding: 8px;
    position: fixed;
    background-color: white;
    width: 700px;
    top: 80px;
    left: 50%;
    margin-left: -350px;
    border: 1px solid #000033;
    box-shadow: 3px 3px 3px #8888aa;
}

.pipeline-button {
    padding: 3px 3px 3px 23px;
    font-size: 11px;
    line-height: 16px;
    background-repeat: no-repeat;
    background-position: 4px center;
    border: 1px solid #bbb;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    background-color: #eee;
}
.pipeline-button:active {
    background-color: #888;
    border: 1px solid #999;
    border-top: 1px solid #666;
    border-left: 1px solid #666;
}
input:disabled {
    opacity: 0.3;
}
.foldable-toggle-zoom {
    float: right;
    background-image: url('zoom.png');
}
.foldable-toggle-show {
    float: right;
    background-image: url('book_open.png');
}
.foldable-toggle-hide {
    float: right;
    background-image: url('book.png');
}

#popup-graph-save-go {
    background-image: url('chart_line_add.png');
}
#popup-graph-delete-go {
    background-image: url('chart_line_delete.png');
}
#pipeline-graph-load-go {
    background-image: url('chart_line_edit.png');
}
#pipeline-graph-new-go {
    background-image: url('chart_line_add.png');
}
#popup-format-save-go {
    background-image: url('style_go.png');
}
#popup-format-delete-go {
    background-image: url('style_delete.png');
}
#pipeline-format-load-go {
    background-image: url('style_edit.png');
}
#pipeline-format-new-go {
    background-image: url('style_add.png');
}
#pipeline-load-go {
    background-image: url('page_go.png');
}
#pipeline-delete-go {
    background-image: url('page_delete.png');
}
#pipeline-new-go {
    background-image: url('page_lightning.png');
}
#pipeline-shorturl-go {
    background-image: url('link_go.png');
}
#add-filter, #insert-filter {
    width: 32%;
    background-image: url('world_delete.png');
}
#add-valuefilter, #insert-valuefilter {
    width: 32%;
    background-image: url('key_delete.png');
}
#add-compositescenario, #insert-compositescenario {
    width: 32%;
    background-image: url('world_link.png');
}
#add-format, #insert-format {
    width: 32%;
    background-image: url('style.png');
}
#add-aggregate, #insert-aggregate {
    width: 32%;
    background-image: url('sum.png');
}
#add-normalise, #insert-normalise {
    width: 32%;
    background-image: url('table_relationship.png');
}
#add-graph, #insert-graph {
    width: 32%;
    background-image: url('chart_line.png');
}
#pipeline-save-go {
    background-image: url('page_save.png');
}
#pipeline-debug-go {
    background-image: url('bug.png');
}
#pipeline-purgecache-go {
    background-image: url('bin.png');
}

.odd {
    background: #eee;
}

.pipeline {
    width: 400px;
}

.pipeline:first-child {
    margin-top: 20px;
}

.pipeline-content {
    border: 1px solid black;
    border-bottom: 0;
    padding: 8px;
    background: transparent;
}

.popup-header {
    font-weight: bold;
}

.popup-header-right {
    float: right;
}

.pipeline-header {
    font-weight: bold;
}

.pipeline-header-right {
    float: right;
}

.pipeline-footer {
    width: 400px;
    height: 20px;
    background: transparent url(arrow.gif) center top no-repeat;
}


#pipeline-log {
    background: #eee;
}
#pipeline-add {
    background: #ddd;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}
#pipeline-insert {
    background: #ddd;
}
#pipeline-values {
    background: #eee;
}
#pipeline-load {
    background: white;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}
#pipeline-save {
    background: white;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}
#pipeline-tools {
    background: white;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}
#pipeline-shorturl-text {
    display: none;
    width: 200px;
}

.filter {
    background: #efd3f2;
}
.valuefilter {
    background: #ffb3c2;
}
.compositescenario {
    background: #b5f5e1;
}
.aggregate {
    background: #c5f5c1;
}
.format {
    background: #90d1f5;
}
.normalise {
    background: #a7e2f5;
}
.graph {
    background: #fffab3;
}

#output {
    margin-left: 440px;
    padding: 20px 20px;
    padding-top: 60px;
}

.ci {
    font-size: 75%;
    color: gray;
}

.pipeline-derived-value-field {
    width: 250px;
}

.text-valuefilter-lowerbound {
    width: 60px;
}

.text-valuefilter-upperbound {
    width: 60px;
}
#select-scenario-cols, #select-value-cols, .select-normalise-group {
    width: 100%;
    height: 100px;
}

#select-value-derived {
    width: 100%;
}

.select-normalise-normaliser-value {
    display: none;
}

#header {
    margin-left: 440px;
    position: fixed;
    width: 100%;
}

#header-config {
    padding: 0.2em;
    border: 1px solid #abcdef;
    background: #D4E9FF;
    height: 20px;
}
#header-config label {
    margin-right: 1em;
}
#header-config.error {
    background-color: #FFA6B0;
    border: 1px solid #E87280;
}

#loading-indicator {
    padding: 0.2em;
    background: #f5f0c1;
    border: 1px solid #e3d554;
    display: none;
    height: 20px;
}

#tabulate-progress {
    padding: 0.2em;
    background: #F5D7C1;
    border: 1px solid #FFA759;
    background-image: url(tabulate-progress.gif);
    background-repeat: repeat-y;
    background-size: 0px;
    display: none;
    height: 20px;
}

#large-table-confirm {
    padding: 1em;
    background-color: #FFA6B0;
    border: 1px solid #E87280;
    display: none;
}

th.header { 
    background-image: url(bg.gif);     
    cursor: pointer; 
    font-weight: bold; 
    background-repeat: no-repeat; 
    background-position: center left; 
    padding-left: 20px; 
}

#output td {
    padding-right: 10px;
}
td.value {
    text-align: right;
}

th.headerSortUp { 
    background-image: url(asc.gif); 
    background-color: #eee; 
}

th.headerSortDown { 
    background-image: url(desc.gif); 
    background-color: #eee; 
}

.foldable {
    border: 1px solid black;
    margin-bottom: 10px;
    display: block;
}

.foldable h1 {
    display: block;
    margin: 0;
    padding: 0.2em;
    font-size: 110%;
    background-color: #abcdef;
}

.foldable h1 a {
    float: right;
    font-weight: normal;
    color: blue;
    margin-left: 1em;
}

.foldable-content {
    padding: 1em;
}

.foldable-content.hidden {
    display: none;
}

.exception {
    background-color: #FFA6B0;
    border: 1px solid #E87280;
    padding: 1em;
}
.exception h1 {
    font-size: 110%;
    padding: 0;
    margin: 0;
}

.exception .foldable {
    font-size: 80%;
    margin: 1em 0;
}
.exception .foldable h1 {
    background: transparent;
    padding: 0.5em;
}

.exception .foldable-content pre {
    margin: 0;
}

.incomplete-block .pipeline-content {
    border: 2px solid red;
    border-bottom: 0;
}

.incomplete-block .pipeline-footer {
    background: transparent url(arrow-incomplete.gif) center top no-repeat;
}

.error-block {
    background: #FFA6B0;
}

.error-block .remove-button {
    margin: 3px;
}

.error-block .pipeline-content {
    border: 3px solid red;
    border-bottom: 0;
}

.error-block .pipeline-footer {
    background: transparent url(arrow-error.gif) center top no-repeat;
}

.ambiguous-block {
    background: #ffbc80;
}

.ambiguous-block .remove-button {
    margin: 3px;
}

.ambiguous-block .pipeline-content {
    border: 3px solid #ff8c26;
    border-bottom: 0;
}

.ambiguous-block .pipeline-footer {
    background: transparent url(arrow-ambiguous.gif) center top no-repeat;
}

.messages {
    padding: 0.2em;
    border: 1px solid #abcdef;
    background: #D4E9FF;
    white-space: nowrap;
}
.messages h1 {
    font-size: 110%;
    padding: 0;
    margin: 0;
}

.message-warning-main {
    font-weight: bold;
}

.message-warning-extra {
    font-size: 50%;
}

.message-information-main {
}

.message-information-extra {
    font-size: 50%;
}

.ambiguity {
    background-color: #ffbc80;
    border: 1px solid #ff8c26;
    padding: 1em;
}
.ambiguity h1 {
    font-size: 110%;
    padding: 0;
    margin: 0;
}

.ambiguity .foldable {
    font-size: 80%;
    margin: 1em 0;
}
.ambiguity .foldable h1 {
    background: transparent;
    padding: 0.5em;
}

.ambiguity pre {
    margin: 0;
    white-space: pre-wrap;
}
