html {
    height: 100%;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
}

div {
    padding: 0;
    margin: 0;
    font-family: Arial;
}

#pipeline-templates {
    display: none;
}

#pipeline {
    float: left;
    padding: 0 20px;
    width: 400px;
    overflow: auto;
    height: 100%;
    position: fixed;
    background-color: white;
}

.remove-button {
    width: 20px;
    height: 20px;
    float: right;
    display: block;
    margin: 1px;
    border: 1px;
    cursor: pointer;
}

.odd {
    background: #eee;
}

.pipeline {
    width: 400px;
}

.pipeline:first-child {
    margin-top: 20px;
}

.pipeline-content {
    border: 1px solid black;
    border-bottom: 0;
    padding: 20px;
    background: transparent;
}

.pipeline-header {
    font-weight: bold;
}

.pipeline-header-right {
    float: right;
}

.pipeline-footer {
    width: 400px;
    height: 20px;
    background: transparent url(arrow.gif) center top no-repeat;
}


#pipeline-log {
    background: #eee;
}
#pipeline-add {
    background: #ddd;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}
#pipeline-values {
    background: #eee;
}
#pipeline-load {
    background: white;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}
#pipeline-save {
    background: white;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}
.filter {
    background: #efd3f2;
}
.valuefilter {
    background: #ffb3c2;
}
.aggregate {
    background: #c5f5c1;
}
.normalise {
    background: #a7e2f5;
}
.graph {
    background: #fffab3;
}

#output {
    margin-left: 440px;
    padding: 20px 20px;
    padding-top: 60px;
}

.ci {
    font-size: 75%;
    color: gray;
}

.pipeline-derived-value-field {
    width: 250px;
}

.text-valuefilter-lowerbound {
    width: 60px;
}

.text-valuefilter-upperbound {
    width: 60px;
}
#select-scenario-cols, #select-value-cols, .select-normalise-group {
    width: 100%;
    height: 100px;
}

#select-value-derived {
    width: 100%;
}

#header {
    margin-left: 440px;
    position: fixed;
    width: 100%;
}

#header-config {
    padding: 0.2em;
    border: 1px solid #abcdef;
    background: #D4E9FF;
    height: 20px;
}
#header-config label {
    margin-right: 1em;
}
#header-config.error {
    background-color: #FFA6B0;
    border: 1px solid #E87280;
}

#loading-indicator {
    padding: 0.2em;
    background: #f5f0c1;
    border: 1px solid #e3d554;
    display: none;
    height: 20px;
}

#tabulate-progress {
    padding: 0.2em;
    background: #F5D7C1;
    border: 1px solid #FFA759;
    background-image: url(tabulate-progress.gif);
    background-repeat: repeat-y;
    background-size: 0px;
    display: none;
    height: 20px;
}

#large-table-confirm {
    padding: 1em;
    background-color: #FFA6B0;
    border: 1px solid #E87280;
    display: none;
}

th.header { 
    background-image: url(bg.gif);     
    cursor: pointer; 
    font-weight: bold; 
    background-repeat: no-repeat; 
    background-position: center left; 
    padding-left: 20px; 
}

#output td {
    padding-right: 10px;
}

th.headerSortUp { 
    background-image: url(asc.gif); 
    background-color: #eee; 
}

th.headerSortDown { 
    background-image: url(desc.gif); 
    background-color: #eee; 
}

.foldable {
    border: 1px solid black;
    margin-bottom: 10px;
    display: block;
}

.foldable h1 {
    display: block;
    margin: 0;
    padding: 0.2em;
    font-size: 110%;
    background-color: #abcdef;
}

.foldable h1 a {
    float: right;
    font-weight: normal;
    color: blue;
    margin-left: 1em;
}

.foldable-content {
    padding: 1em;
}

.foldable-content.hidden {
    display: none;
}

.exception {
    background-color: #FFA6B0;
    border: 1px solid #E87280;
    padding: 1em;
}
.exception h1 {
    font-size: 110%;
    padding: 0;
    margin: 0;
}

.exception .foldable {
    font-size: 80%;
    margin: 1em 0;
}
.exception .foldable h1 {
    background: transparent;
    padding: 0.5em;
}

.exception .foldable-content pre {
    margin: 0;
}

.error-block {
    background: #FFA6B0;
}

.error-block .remove-button {
    margin: 3px;
}

.error-block .pipeline-content {
    border: 3px solid red;
    border-bottom: 0;
}

.error-block .pipeline-footer {
    background: transparent url(arrow-error.gif) center top no-repeat;
}

.ambiguous-block {
    background: #ffbc80;
}

.ambiguous-block .remove-button {
    margin: 3px;
}

.ambiguous-block .pipeline-content {
    border: 3px solid #ff8c26;
    border-bottom: 0;
}

.ambiguous-block .pipeline-footer {
    background: transparent url(arrow-ambiguous.gif) center top no-repeat;
}

.ambiguity {
    background-color: #ffbc80;
    border: 1px solid #ff8c26;
    padding: 1em;
}
.ambiguity h1 {
    font-size: 110%;
    padding: 0;
    margin: 0;
}

.ambiguity .foldable {
    font-size: 80%;
    margin: 1em 0;
}
.ambiguity .foldable h1 {
    background: transparent;
    padding: 0.5em;
}

.ambiguity pre {
    margin: 0;
    white-space: pre-wrap;
}
